* {
  font-family: 'Roboto', sans-serif;
  font-weight: medium; }

.header {
  color: #0093e8;
  text-align: center;
  padding-bottom: 10px; }
  .header h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 100px;
    text-shadow: rgba(0, 0, 0, 0.3) 3px 2px 3px; }
  .header p {
    padding-bottom: 5px;
    font-size: 22px;
    text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px; }

body {
  background-color: #fafafa; }

.description {
  padding: 25px 25px 15px 25px;
  font-size: 16px;
  background-color: rgba(0, 147, 232, 0); }

.container {
  padding: 30px 30px 40px 30px; }

.panel {
  font-size: 18px;
  border: none;
  color: #0093e8;
  background-color: #fafafa;
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px; }

.panel-heading {
  color: #fafafa !important;
  background-color: #0093e8 !important;
  border-color: #eb4f4a !important;
  border-width: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-bottom: 4px; }
  .panel-heading p {
    float: right;
    padding: 4px 10px 0 0; }

.panel-footer {
  color: #fafafa !important;
  background-color: #0093e8 !important;
  border-color: #eb4f4a !important;
  border-width: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 1px; }
  .panel-footer p {
    text-align: right;
    padding: 8px 20px 2px 15px;
    font-size: 16px; }

table.table td:not(.hiddenRow) {
  height: 3em;
  vertical-align: middle; }

table.table tr:not(.hiddenRow):hover {
  background-color: #f0f0f0; }

.hiddenRow {
  padding: 0 !important;
  color: #eee;
  background-color: #0093e8;
  box-shadow: inset 0px 8px 12px -7px rgba(0, 0, 0, 0.4), inset 0px -8px 12px -10px rgba(0, 0, 0, 0.7); }

.btn.btn-default {
  border: none;
  color: #0093e8;
  background-color: #fafafa;
  border-radius: 13px; }

.btn.btn-default:focus {
  border: none;
  color: #0093e8; }

.dropdown-menu {
  border-radius: 13px;
  background-color: #fafafa; }

.dropdown-menu > li > a {
  font-size: 18px;
  color: #0093e8; }

.dropdown-menu > li > a:hover {
  color: #eb4f4a;
  border-radius: 5px;
  background-color: #f0f0f0; }

.btn {
  font-size: 18px; }

.glyphicon {
  padding-left: 10px; }

.btn.description-arrow {
  float: right;
  padding-right: 15px;
  background-color: #fafafa;
  border-radius: 13px; }
  .btn.description-arrow:active, .btn.description-arrow:focus, .btn.description-arrow:hover {
    border-radius: 13px;
    outline: none !important;
    color: #0093e8; }
