$primary-color: #0082e6;
// $primary-color: #3d3d3d;
$base: lighten(desaturate($primary-color, 15%), 15%);
$accent-color: adjust-hue($base, 160%);
$light-color: #fafafa;

$border-radius: 0px;

* {
	font-family: 'Roboto', sans-serif;
	font-weight: medium;
}

html {
	overflow-y: scroll;
}
.header {
	color: $primary-color;
	text-align: center;
	padding-bottom: 10px;

	h1 {
		font-family: 'Poppins', sans-serif;
		font-size: 100px;
		text-shadow: rgba(black, 0.3) 3px 2px 3px;
	}

	p {
		padding-bottom: 5px;
		font-size: 22px;
		text-shadow: rgba(black, 0.2) 1px 1px 1px;
	}
}

body {
	background-color: $light-color;
}

.description {
	padding: 25px 25px 15px 25px;
	font-size: 16px;
	background-color: rgba($primary-color, 0);
}

.container {
	padding-top: 30px;
	padding-bottom: 30px;
}

.panel {
	font-size: 18px;
	border: none;
	color: $primary-color;
	background-color: $light-color;
	box-shadow: 0px 2px 6px 2px rgba(black, 0.3);
	border-top-left-radius: 13px;
	border-top-right-radius: 13px;
	border-bottom-left-radius: 13px;
	border-bottom-right-radius: 13px;

}

.panel-heading {
	color: $light-color !important;
	background-color: $primary-color !important;
	border-color: $accent-color !important;
	border-width: 10px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	margin-bottom: 4px;

	p {
		float: right;
		padding: 4px 10px 0 0;
	}
}

.panel-footer {
	color: $light-color !important;
	background-color: $primary-color !important;
	border-color: $accent-color !important;
	border-width: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	padding: 1px;

	p {
		text-align: right;
		padding: 8px 20px 2px 15px;
		font-size: 16px;
	}
}

table.table td:not(.hiddenRow) {
	height: 3em;
	vertical-align: middle;
}

table.table tr:not(.hiddenRow):hover {
	background-color: darken($light-color, 6%);
}

thead tr {
	border-bottom: 5px solid $accent-color;
}

.hiddenRow {
	padding: 0 !important;
	color: #eee;
	background-color: $primary-color;
	box-shadow: inset 0px 8px 12px -7px rgba(black, 0.4),
				inset 0px -8px 12px -10px rgba(black, 0.7);

}

.btn.btn-default {
	border: none;
	color: $primary-color;
	background-color: $light-color;
	border-radius: $border-radius;
}

.btn.btn-default:focus {
	border: none;
	color: $primary-color;
}

.dropdown-menu {
	border-radius: $border-radius;
	background-color: $light-color;
}

.dropdown-menu > li > a {
	font-size: 18px;
	color: $primary-color;
}

.dropdown-menu > li > a:hover {
	color: $accent-color;
	border-radius: 5px;
	background-color: darken($light-color, 6%);
}

.btn {
	font-size: 18px;
}

.glyphicon {
	padding-left: 10px;
}

.btn.description-arrow {
	float: right;
	margin-right: 15px;
	background-color: $light-color;
	&:active,&:focus,&:hover {
		border-radius: $border-radius;
		outline: none !important;
		color: $primary-color;
	}
}

.label {
	font-weight: normal;
	background-color: $accent-color;
	color: $light-color;
	margin-left: 10px;
	border-radius: $border-radius;
}
